
text {
    font: 10px sans-serif;
}
.dot {
    stroke: #000;
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.label {
    fill: #777;
}
.country {
    font: 400 48px"Helvetica Neue";
    text-anchor:center;
    fill: #777;
}
.year.label {
    font: 400 120px"Helvetica Neue";
    fill: #ddd;
}
.year.label.active {
    fill: #aaa;
}
.hidden {
    color: #f00;
}
.visible {
    color: #0f0;
}
.overlay {
    fill: none;
    pointer-events: all;
    cursor: ew-resize;
}
.d3-tip {
    line-height: 1;
    font-family:  Arial;
    font-size: 12px;
    padding: 12px;
    background: #d0caca;
    color: #000;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
}